### TP2: HISTOGRAMAS, KERNELS & MÉTODOS NO SUPERVISADOS USANDO LA EPH

Fecha de entrega: 22 de octubre a las 13:00 hs.
Contenido: Continuar con la familiarización con la base de datos de la Encuesta Permanente de Hogares. Hacer una ejercitación de Histogramas & Kernels y los métodos no supervisados vistos en clase (PCA & Cluster).

In [12]:
# ==========================================================
# IMPORTAR LIBRERÍAS
# ==========================================================
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
## Carga de la base de datos final

base = pd.read_csv(r'C:\Users\User\OneDrive\Documentos\GitHub\Big-Data-UBA--Grupo-3\TP2\base_final.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_17932\3958118075.py:3: DtypeWarning: Columns (0,2,3,5,17,18,19,20,21,22,23,24,29,30,31,32,33,34,35,36,37,38,39,40,44,45,46,47,48,49,50,51,56,57,58,59,63,64,65,66,67,68,69,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,100,101,102,104,105,106,107,108,109,110,114,115,116,120,121,122,123,124,125,126,127,128,129,131,132,133,134,135,136,142,143,162,163,169,170,172,173,174,178) have mixed types. Specify dtype option on import or set low_memory=False.
  base = pd.read_csv(r'C:\Users\User\OneDrive\Documentos\GitHub\Big-Data-UBA--Grupo-3\TP2\base_final.csv')

In [14]:
## Descripcion base de datos
print(base.describe)
base.head()

<bound method NDFrame.describe of                               codusu  nro_hogar componente  h15    ano4  \
0                             125082        1.0        1.0   Sí  2005.0
1                             125082        1.0        2.0   Sí  2005.0
2                             125082        1.0        3.0  0.0  2005.0
3                             125283        1.0        1.0   Sí  2005.0
4                             125283        1.0        2.0   Sí  2005.0
...                              ...        ...        ...  ...     ...
28449  TQRMNOPWQHLMKUCDEGJBF00852927        1.0          4    1  2025.0
28450  TQRMNOPWQHLMKUCDEGJBF00852927        1.0          5    0  2025.0
28451  TQRMNOSSVHLMLMCDEGJBF00852929        1.0          1    1  2025.0
28452  TQRMNOSSXHLMLMCDEGJBF00858297        2.0          1    1  2025.0
28453  TQRMNOSSXHLMLMCDEGJBF00858297        2.0          2    1  2025.0

            trimestre  region  mas_500  aglomerado  pondera  ...  v21_03_m  \
0      1er. Trimestre      43        1           2    377.0  ...       NaN
1      1er. Trimestre      43        1           2    377.0  ...       NaN
2      1er. Trimestre      43        1           2    377.0  ...       NaN
3      1er. Trimestre      43        1           2    283.0  ...       NaN
4      1er. Trimestre      43        1           2    283.0  ...       NaN
...               ...     ...      ...         ...      ...  ...       ...
28449               1      43        1          13    773.0  ...       0.0
28450               1      43        1          13    773.0  ...       0.0
28451               1      43        1          13    719.0  ...       0.0
28452               1      43        1          13    519.0  ...       0.0
28453               1      43        1          13    519.0  ...       0.0

       v22_01_m  v22_02_m  v22_03_m  p_deccf  p_rdeccf  p_gdeccf p_pdeccf  \
0           NaN       NaN       NaN      NaN       NaN       NaN      NaN
1           NaN       NaN       NaN      NaN       NaN       NaN      NaN
2           NaN       NaN       NaN      NaN       NaN       NaN      NaN
3           NaN       NaN       NaN      NaN       NaN       NaN      NaN
4           NaN       NaN       NaN      NaN       NaN       NaN      NaN
...         ...       ...       ...      ...       ...       ...      ...
28449       0.0       0.0       0.0      8.0       8.0       8.0      NaN
28450       0.0       0.0       0.0      8.0       8.0       8.0      NaN
28451       0.0       0.0       0.0     10.0      10.0      10.0      NaN
28452       0.0       0.0       0.0     10.0      10.0      10.0      NaN
28453       0.0       0.0       0.0     10.0      10.0      10.0      NaN

      p_ideccf p_adeccf
0          NaN      NaN
1          NaN      NaN
2          NaN      NaN
3          NaN      NaN
4          NaN      NaN
...        ...      ...
28449      8.0      8.0
28450      8.0      8.0
28451     10.0     10.0
28452     10.0     10.0
28453     10.0     10.0

[28454 rows x 245 columns]>

,codusu,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,v21_03_m,v22_01_m,v22_02_m,v22_03_m,p_deccf,p_rdeccf,p_gdeccf,p_pdeccf,p_ideccf,p_adeccf
0,125082,1.0,1.0,Sí,2005.0,1er. Trimestre,43,1,2,377.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,125082,1.0,2.0,Sí,2005.0,1er. Trimestre,43,1,2,377.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,125082,1.0,3.0,0.0,2005.0,1er. Trimestre,43,1,2,377.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,125283,1.0,1.0,Sí,2005.0,1er. Trimestre,43,1,2,283.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,125283,1.0,2.0,Sí,2005.0,1er. Trimestre,43,1,2,283.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Parte I: Creación de variables, histogramas, kernels y resumen de la base de datos final